* {
	padding: 0;
	margin: 0;
}

/*? ANIMATIONS ---------------------------------------------------------------*/

.typing {
	width: 18ch;
	animation: typing 1.5s steps(18), blink 0.5s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	border-right: 3px solid;
	font-family: monospace;
	font-size: 7vw;
}

@keyframes typing {
	from {
		width: 0;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}

.fade-in {
	animation: fadeIn ease 0.75s;
	-webkit-animation: fadeIn ease 0.75s;
	-moz-animation: fadeIn ease 0.75s;
	-o-animation: fadeIn ease 0.75s;
	-ms-animation: fadeIn ease 0.75s;
}

.fade-in-12 {
	animation: fadeIn ease 1.3s;
	-webkit-animation: fadeIn ease 1.3s;
	-moz-animation: fadeIn ease 1.3s;
	-o-animation: fadeIn ease 1.3s;
	-ms-animation: fadeIn ease 1.3s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*? FLEXBOX STYLES ---------------------------------------------------------------*/

.row {
	display: flex;
}

.column {
	text-align: center;
	flex: 50%;
	padding: 8px;
}

.bordersection {
	border-right: 1px solid #aaa;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
}

/*? MISC ------------------------------------------------------------------- */
.projects {
	padding: 50px;
	font-family: "Open Sans", sans-serif;
	font-size: 2vw;
}

.icon {
	zoom: 3;
}

h1 {
	font-family: "Open Sans", sans-serif;
	font-size: 2.8vw;
	padding: 20px;
}

h3 {
    font-family: "Open Sans", sans-serif;
	font-size: 1.5vw;
	padding-bottom: 10px;
}

.sectionheader {
	font-size: 3vw;
	text-align: center;
}

.projectbutton {
	padding: 1.5vw;
	background-color: lightblue;
	transform: translateX(65vw) translateY(-7vw);
	border-radius: 10px;
	border: solid;
	font-size: 1.6vw;
}

button:hover {
	cursor: pointer;
}

#darkbutton {
	height: 25px;
	width: 25px;
	background-color: #fff;
	border: black;
	border-radius: 50%;
	zoom: 2;
	position: fixed;
}

.darkmode {
	background-color: #333333;
	color: white;
}

.badlink {
	position: absolute;
}

p {
	margin-top: 20px;
}

/* FADE IN */

.fade-in-section {
	opacity: 0;
	transform: translateY(20vh);
	visibility: hidden;
	transition: opacity 0.6s ease-out, transform 1.2s ease-out;
	will-change: opacity, visibility;
}
.fade-in-section.is-visible {
	opacity: 1;
	transform: none;
	visibility: visible;
}
