* {
	font-family: "Open Sans", sans-serif;
}

#demo {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 9vw;
	font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 4vw;
}

.grid-container {
	display: flex;
	display: grid;
	grid-template-columns: auto auto auto;
}

.grid-item {
    border-right: 1px solid #aaa;
    text-align: center;
}

h3 {
    font-size: 30px;
}
