code {
    border-radius: 4px;
    background-color: #BBB;
    padding:15px;
    margin:30px;
}

* {
    font-family: 'Open Sans', sans-serif;
}

p{
    margin:30px
}

h3 {
    font-size: 2vw;
}

h2 {
    font-size: 2.5vw;
}
h1{
    font-size:3vw;
}

.flags {
    background-color: #BBB;
    border-radius: 4px;
    padding:16px;
}