#DSNS, #AmKale, #jiebi {
    font-size: 80px; 
    font-family: monospace;
    margin: 20px;
    text-align: center;
}

#DSNSgame, #AmKalegame, #jiebigame {
    text-align: center;
    font-size: 80px; 
    font-family: monospace;
    margin: 20px;
    
}
