/*? FLEXBOX STYLES ---------------------------------------------------------------*/

.grid-container {
	display: grid;
    grid-template-columns: auto auto auto;
}

* {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 3vw;
}
.grid-item {
    margin-top: 0;
}